body{
font-family:"Avenir Next";
}
li{
  list-style:none;
/* 6.float:left;で水平にリストを並べることができる:*/
  /* 9.float:left;をheader-list liで適用させる*/
/* 7.paddingで調整できる padding:上下 左右;、もしくは上から右回りの引数*/
  /* 9.padding:33px 20px;*/
}
/* 4.htmlで作成したヘッダー、メイン、フッターの背景と高さを変更。行頭には.（ピリオド）*/
.header{
  background-color:#f7f2b4;
  height:90px;
}
.header-logo{
  float:left;
  font-size:36px;
  padding:20px 40px;
}
.header-list{
  float:left;
}
.header-list li{
  float:left;
  padding:33px 20px;
}

.main{
  padding:100px 80px;
}
.copy-container h1{
  font-size:140px;
}
.copy-container h2{
  font-size:60px;
}
.copy-container span{
  color:#ff4a4a;
}
.contents{
  height:500px;
  /* margin:余白*/
  margin-top:100px;
}
.section-title{
  /* type:solid ボーダーが1本の線*/
  border-bottom:2px solid #dee7ec;
  font-size:28px;
  padding-bottom:15px;
  margin-bottom:50px;
}
.contents-item{
  float:left;
  margin-right:40px;
}
.contents-item p{
  font-size:24px;
  margin-top:30px;
}
/* 15.contact-formを制作*/
.contact-form{
  padding-top:100px;
}
input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  fontsize:18px;
  border:1px solid #dee7ec;
}
.contact-submit{
  background-color:#dee7ec;
  color:#889eab;
}
.footer{
  /* 10.footerのlogo,listに編集を加える*/
  background-color:#2f5167;
  color:#fff;
  height:120px;
  padding:40px;
}
.footer-logo{
  font-size:32px;
  float:left;
}
.footer-list{
  float:right;
}
.footer-list li{
  padding-bottom:20px;
}
